/weights
*.pyc
*._
__pycache__
venv
.idea
.DS_Store
._.DS_Store
*.hdr
google_scanned_models/
scripts/nvisii_data_gen/output/dataset/
scripts/train2/output/*
scripts/train2/ADD_scripts/output/*
scripts/train2/ADD_scripts/add_ketchup_tests
scripts/train2/ADD_scripts/hope_ketchup